/* Colors and Fonts */
body{
	background-image: url(images/background.jpg); 
	color: white;
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	background-size: 1350px;
	font-weight: lighter;
	background-attachment: fixed;
}

h1,h2,h3{
	font-family: 'Lato', sans-serif;
}

h1{
	color: 6290C8;
	font-size: 32px;
	font-weight: 800;
	letter-spacing: 1.5px;
}
h2{
	color: 59C9A5;
	font-size: 22px;	
	font-weight: 600;
	letter-spacing: 2px;
}
a{
	text-decoration: none;
	color: rgb(84,94,117);
	font-weight: bold;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	transition: : 0.3s;
}
a:hover {
	color: rgb(0,0,0);
}

/* Custom Design with Class (99%)*/

.container{
	width: 700px;
	margin: 40px auto;
}
.card-white{
	background-color: rgba(0,0,0,0.9);
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 10px;
	margin: 20px 0px;
	text-align: center;
}
.img-circle{
	border-radius: 50%;
	width: 150px;
	height: 150px;
}
.btn-blue{
	background-color:012A36; 
	color: rgb(251,251,251);
	padding: 13px 20px;
	border-radius: 4px;
}
.btn-blue:hover {
	background-color: 46237A;
	color: 1E1E24;
}
.list-inline{
	list-style: none;
	padding-left: 0px;
}
.list-inline li{
	display: inline;
	padding: 10px;
}
.list-inline i{
	font-size: 50px;
}
.list-inline i:hover {
	color: black;
}

/* Custom Design with ID (01%)*/

#intro p{
	margin-bottom: 40px
}

@media (max-width: 720px){
	.container{
		width: 500px;
	}
}
@media (max-width: 540px){
	.container{
		width: 300px;
	}
}